%h1 List

:javascript
  $(function() {
    itemsPerPage = 10;
    $("#table").pagination();
  });

%div#table
  - @seen.each do |bird|
    %p
      %a{:href => "/species/#{bird['binomial'].gsub(/\s+/, '_')}"}= bird["common_name"]

