%h1 List

:javascript
  $(document).ready(function() {
      $("table")
        .tablesorter({widthFixed: true, widgets: ['zebra']})
        .tablesorterPager({container: $("#pager")});
  });

%table{:id => "table", :class => "tablesorter"}
  %thead
    %tr
      %th Common Name
      %th Binomial
  %tbody
    - @seen.each do |bird|
      %tr
        %td
          %a{:href => "/species/#{bird['binomial'].gsub(/\s+/, '_')}"}= bird["common_name"]
        %td
          = bird['binomial']

%div{:id => "pager", :class => "pager"}
  %form
    %img{:src => "/images/first.png", :class => "first"}
    %img{:src => "/images/prev.png",  :class => "prev"}
    %input{:type => "text", :class => "pagedisplay"}
    %img{:src => "/images/next.png",  :class => "next"}
    %img{:src => "/images/last.png",  :class => "last"}
    %select{:class => "pagesize"}
      %option{:value => "5"} 5
      %option{:selected => "selected", :value => "10"} 10
      %option{:value => "20"} 20
      %option{:value => "40"} 40
