%h1 List

:javascript
  $(document).ready(function() {
      $("table")
        .tablesorter({widthFixed: false, widgets: ['zebra']})
  });

%table{:id => "table", :class => "tablesorter"}
  %thead
    %tr
      %th Common Name
      %th Binomial
  %tbody
    - @seen.each do |bird|
      %tr
        %td
          %a{:href => "/species/#{bird['binomial'].gsub(/\s+/, '_')}"}= bird["common_name"]
        %td
          = bird['binomial']

